# summary
- 조건문
    - if, else, elif
    - 특정 조건에 따라서 코드를 실행하고 싶을때 사용
- 반복문
    - while, for
    - 특정 코드를 반복적으로 실행 시키고 싶을때 사용
    - continue, break

## 조건문
- 특징: 조건에 따라서 코드를 실행하고자 할 때 사용
- if, else, elif
- 조건부분에 bool 데이터 타입 이외의 데이터 다입이 오면 bool으로 형변환 되어 판단
    - float: 0.0을 제외한 나머지 실수는 True
    - str: ""를 제외한 나머지 문자열은 True
    - list, tuple, dict: [],(),{}를 제외한 나머지는 True

In [121]:
#조건부분에 bool 데이터 타입 이외의 데이터 다입이 오면 bool으로 형변환 되어 판단
num = 0
if num:
    print("python_1")

num = 1
if num:
    print("python_2")

python_2

In [123]:
number = 7
if number % 2:#number % 2 == 1 작성할 필요가 없음
    print("홀수")

홀수

In [127]:
money = 12000
if money >= 10000:
    print("택시를 타고 집에 갑니다.")
elif money >= 2000 and money <= 10000:
    print("버스를타고 집에 갑니다.")
else:
    print("걸어서 집에 갑니다.")

택시를 타고 집에 갑니다.

In [128]:
# 계좌에 10000원이 들이 있습니다.
# 인출 금액을 입력 받습니다
# 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다."출력
# 인출 금액이 계좌에 있는 금액보다 작으면 "인출이 되었습니다."출력
# 마지막에 현재 계좌의 잔액을 출력

In [133]:
account = 10000
draw_money = int(input('금액을 입력해주세요:'))
if draw_money > account:
    print("인출이 불가능합니다." + str(draw_money-account) + "원이 부족합니다.")
else:
    print(draw_money,"원이 인출이 되었습니다.")
    account -=draw_money
print("현재 잔액은" + str(account) + "입니다.")

금액을 입력해주세요:12000
인출이 불가능합니다.2000원이 부족합니다.
현재 잔액은10000입니다.

**format 함수**

In [135]:
#string 데이터 타입의 fromat 합수
print("현재잔액은{}원 입니다. 입출금액은{}입니다.".format(account,draw_money))

현재잔액은10000원 입니다. 입출금액은12000입니다.

#### 삼항연산자
- 간단한 if,else구문을 한줄의 코드로 표현할 수 있는 방법
- (True) if (condition) else (False)

In [136]:
data = 0
if data:
    print("not zero")
else:
    print("zero")

zero

In [137]:
data = 1
"not zero" if data else "ero"

'not zero'

In [410]:
usa_date = "03/20/2020"
kor_date = usa_date[-4:] + "/" + usa_date[0:2] + "/" + usa_date[3:5]
kor_date

'2020/03/20'

## 반복문
- 반복되는 코드를 실행할 때 사용
- while, for, break, continue
- list comprehention

#### while
- 任何非零、或非空（null）的值均为true

In [138]:
data = 3

while data:#조건이 False가 될 때까지 구문의 코드를 실행
    print(data)
    data -=1

3
2
1

In [154]:
# 학생이 국어:80점, 영어:90점, 수학:100점,while문을 이용해서 충점과 평균을 출력
subject= ["국어","영어","수학"]
score = [80, 90, 100]

In [155]:
sum = 0
while score:
    sum += score.pop()
print("총점:{}".format(sum))
average = sum/len(subject)
print("평균점:{}".format(average))

총점:270
평균점:90.0

In [156]:
subjects_ls = ["국어","영어","수학"]
points_ls = [80, 90, 100]
points_dict = {"국어":80, "영어":90, "수학":100}

In [157]:
total,evg = 0, 0

In [158]:
datas = points_ls.copy() #깊은복사: 원본 데이터를 보존

In [159]:
while datas:
    total += datas.pop()
avg = total / len(points_ls)
total,avg

(270, 90.0)

In [162]:
# 무한루프
# break:반복믄을 중단 시킬 때 사용되는 예약어
result = 1
while result:
    if result >= 10:
        break
        
    result += 1
print(result)

10

#### for
- iterable한 값을 하나씩 꺼내서 variable을 대입시키후 코드를 interable변수의 값 개수 만큼 실행
```
for <variable> in <iterables>:
  <code>
```
- for문에서 iterable 데이터가 tuple로 나오면 여러개의 변수 받을 수 있다

In [9]:
ls = [0,1,2,3,4]
for data in ls:
    if data % 2: # == 1
        continue # data가 홀수가 되면 continue를 실행
        
    print(data, end=" ")

0 2 4

**range함수**

In [164]:
#1에서 100까지 합
result = 0
for data in range(100):
    result += data
result

4950

In [165]:
list(range(5)), list(range(5,10)), list(range(10,0,-2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 8, 6, 4, 2])

In [179]:
points_dict = {"국어":80, "영어":90, "수학":100}
list(points_dict.items())#tuple로 만들다

100
,
100

In [167]:
for subject,point in points_dict.items():
    print(subject,point)

국어 80
영어 90
수학 100

In [175]:
#구구단 출력(가로 출력)
for i in range(1,10):
    for j in range(1,10):
        print("{} x {} = {}".format(j,i,j*i),end = "\t")
    print()

1 x 1 = 1	2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
1 x 2 = 2	2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
1 x 3 = 3	2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
1 x 4 = 4	2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
1 x 5 = 5	2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
1 x 6 = 6	2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
1 x 7 = 7	2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
1 x 8 = 8	2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
1 x 9 = 9	2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

#### List Comprehention
- list 데이터를 만들어주는 방법
- for문 보다 빠르게 동작합니다

In [180]:
ls = [0,1,2,3]
result = []
for data in ls:
    result.append(data**2)
    
result

[0, 1, 4, 9]

In [182]:
result = [data**2 for data in ls]
result

[0, 1, 4, 9]

In [187]:
#list comprehension을 써서 홀수와 짝수를 리스트로 출력해주는 코드
#삼향연산 사용
#result = 
ls = [0,1,2,3]
result = [
    "홀수" if i % 2 else "짝수" #조건문 먼저 작성하고 반복문 작성       
    for i in ls
]
result

['짝수', '홀수', '짝수', '홀수']

In [188]:
#list comprehension
ls = range(10)
[data for data in ls if data %2]

[1, 3, 5, 7, 9]

In [192]:
ls = [1,2,3]
[func for func in dir(ls) if func[:2] !="__"] #언더바 없는 str가져오기

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [193]:
[func for func in dir(ls) if func[0] == "c"]

['clear', 'copy', 'count']

**for문과 list omprehention 성능 비교**

In [201]:
%%timeit
ls = []
for num in range(1,1001):
    ls.append(num)
len(ls)

79.8 µs ± 5.3 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [203]:
%%timeit
ls = [num for num in range(1,1001) if num % 3 == 0]
len(ls)

49.6 µs ± 1.28 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)